.employee_container >div{
    margin-top: 10px;
    
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
}

.add_task{
    width: 500px;
    height: 90px;
    border-radius: 10px;
    background-color: green;
}

.add_task_container{
    display: flex;
    justify-content: center;
}